.user-search-results {
  width: 80%;
  margin: auto;
}

.search-user-input {
  border-radius: 1rem;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  margin-bottom: 2rem;
  
}

.search-user-input:focus {
  transform: scale(1.1);
  margin-right: 2rem;
  outline: none;
}

.clear-button {
  display: inline-block;
}
.search-user-form {
  width: 100%;
  margin: auto;
  display: inline-block;
}

.search-user {
  position: relative;
  right: 5rem;
  float: right;
  width: 40%;
}

.search-user-icon {
  position:relative;
  
}

.search-user-icon:hover {
  transform: scale(1.1);
}

.search-user-button {
  margin: 1rem;
  border-radius: 1rem;
  display: inline-block;
 
  position:relative;
  top: 1rem;


}