.search-results {
    display: block;
    width: 100%;
    margin: auto;
    text-align: left;
}


.search-user-input {
    border-radius: 1rem;
    border-style: solid;
    border-color: white;
  }
  
  .search-user-input:focus {
    transform: scale(1.1);
    margin-right: 2rem;
    outline: none;
  }
  
.clear-button {
  display: inline-block;
}
  .search-user-form {
   
      width: 60%;
      margin: auto;
      display: inline-block;
      margin-top: 3rem;
  }

  .search-user-header {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(245, 39, 84, 0) 0%,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.25) 4%,
      rgba(0, 0, 0, 0.5) 11%,
      rgba(0, 0, 0, 0.75) 21%,
      rgb(0, 0, 0) 31%,
      rgba(0, 0, 0, 0.5) 58%,
      rgba(0, 0, 0, 0.25) 83%,
      rgba(0, 0, 0, 0) 100%
    );
    padding: 0.5rem;
    width: 100%;
    margin-left: -0.5rem;
  }