.user-result {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 3rem;
    margin: auto;
    display: block;
    border-style: solid;
    border-color: black;
    margin-bottom: 0.3rem;
    border-radius: 1rem;
}


.user-result h3 {
    float: left;
    position: relative;
    left: 1.5rem;
    bottom: 0.3rem;
   
    
    
    

}

.user-result h3:hover {
transform: scale(1.1);
}

.user-result button {
    float: right;
    position: relative;
    top: 0.5rem;
    right: 1.5rem;
   
    
}