.make-rec-options {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-left: 3rem;
    
  
  }
  
  
  .queued-rec-card {
    float: left;
    width: 50%;
  }
  
  .queued-rec {
    width: 90%;
    margin: auto;
  }
  

  .toggle-rectype button{
    width: 50%;
    max-width: 10rem;
    min-height: 4rem;
    height: 100%;
    max-height: 4rem;
display: inline-block;
padding-top: 1rem;
padding-bottom: 1rem;
border-style: none;
font-size: large;


}

.toggle-rectype button:focus{
outline: none;
}

.toggle-rectype {
    
    width: 10rem;
    height: 4rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0rem;
    border-style: solid;
    border-color: black;
    border-radius: 1.5rem;
}
