html {
    text-align: center;
}

.warning {
    color: crimson;
}

.login {
    
      margin: auto;
      width: 50%;
     
      
    }
    .login-form {
        display: inline-block;
    }
    
    .login-form input{
        display: block;
        margin-bottom: 3rem;
    
    
    }

    p {
        display: inline-block;
    }