html {
    text-align: center;
}

.main-message {
    width: 90%;
    margin: auto;
    font-size: 3rem;
    margin-top:3rem;
}

.warning {
    color: crimson;
}
.container {
    width: 100%;
}
.login {
    display: inline-block;
    width: auto;
    margin-bottom: auto;
    position: relative;
    bottom: 6rem;
    left: 2rem;
}
.login-image {
    display: inline-block;
    width: auto;
    position: relative;
    top: 4rem;
    right: 14rem;
}
.login h1 {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
}
    .login-form {
        width: 90%;
        display: inline-block;
        text-align: center
    }
    
    .login-form input{
        display: block;
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
        border-radius: 1rem;
    
    
    }

    .login-form input:focus {
        transform: scale(1.1);
        outline: none;
    }

    p {
        display: inline-block;
    }