.warning {
    color: crimson;
}

.login {
    text-align: center;
      margin: auto;
      width: 100%;
      justify-content: center;
      
    }
    
    
    .login-form input{
        display: block;
        margin-bottom: 3rem;
    
    
    }