@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
html {
  height: 100%;
  background: rgb(18,13,222);
  background: linear-gradient(90deg, rgba(18,13,222,0.75) 0%, rgba(15,180,245,0.75) 100%);
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  min-height: 95vh;
  font-family: 'Merriweather', serif; 
}

input {
  width: 50%;
  padding: 1rem 2rem 1rem 2rem;
}

button {
  display: inline-block;
  padding: 0.2rem;
  border-radius: 0.12em;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: #000000;
  text-align: center;
  transition: all 0.4s;
  border-style: solid;
  border-color: white;
  padding: 0.5rem;
  margin: 1rem;
}
button:hover {
  color: #ffffff;
  background-color: #004085;
}
@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

.loading-spinner { 
  background:url('../../assets/loading-spinner.svg') center center no-repeat; 
}
