@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
html {
  height: 100%;
  background: rgb(0, 0, 0);
  background: rgb(255, 251, 39);
  background: linear-gradient(
    90deg,
    rgba(255, 251, 39, 1) 0%,
    rgba(255, 139, 0, 1) 50%,
    rgba(255, 251, 39, 1) 100%
  );
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  min-height: 95vh;
  font-family: "Merriweather", serif;
}

span {
  color: rgba(255, 251, 39, 1);
  font-size: large;
  padding: 1rem;
}

.logout-button-container {
  display: inline-block;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
}
input {
  width: 50%;
  padding: 1rem 2rem 1rem 2rem;
}

.loading-spinner {
  background: url("../../assets/loading-spinner.svg") center center no-repeat;
  background-size: 50%;
  z-index: -1;
}
