@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

html {
  height: 100%;
  background: rgb(12, 225, 247);
  background: linear-gradient(
    90deg,
    rgba(12, 225, 247, 1) 0%,
    rgba(31, 173, 240, 1) 50%,
    rgba(12, 225, 247, 1) 100%
  );
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  min-height: 85vh;
  font-family: "Manrope", sans-serif;
}

span {
  color: #00e0c3;
  font-size: large;
  padding: 1rem;
}

.logout-button-container {
  display: inline-block;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
}
input {
  width: 50%;
  padding: 1rem 2rem 1rem 2rem;
}

.loading-spinner {
  background: url("../../assets/loading-spinner.svg") center center no-repeat;
  background-size: 50%;
  z-index: -1;
}

.popup {
  background-color: white;
  border-radius: 2rem;
  position: fixed;
  left: 5%;
  top: 8%;
  z-index: 999;
  width: 90%;
  min-height: 85%;
  max-height: 85%;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  align-content: center;
  justify-content: center;
}

.popup-overlay {
  position: fixed;
  width: 100%;
  margin: auto;
  margin-left: -0.5rem;
  margin-top: -7rem;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.445);
}
