.searched-span-user {
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-bottom-style: solid;
  border-top-style: solid;
  border-color: rgb(0, 0, 0);
  border-radius: 1rem;
  margin: 1rem;
}

.welcome-follow {
  display: inline-block;
}

.searched-profile {
  margin-top: 7rem;
  height: 90vh;
}

.welcome-follow h1 {
  color: black;
  display: inline-block;
  margin: 1rem;
}

.welcome-follow button {
  display: inline-block;
  border-style: solid;
  border-color: black;

  width: 100%;
}

.searched-profile-recs {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  max-height: 40rem;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  border-style: dashed;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-color: black;
  border-width: thick;
  border-radius: 2rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 6%,
    rgba(0, 0, 0, 0.5) 25%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(0, 0, 0, 0.25) 94%,
    rgba(0, 0, 0, 0) 100%
  );
}

.searched-user-social-info {
  display: block;
  width: 55%;
  height: 4rem;
  max-height: 4rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: white;
  border-radius: 1rem;
}

.searched-user-social-info li {
  width: 33%;
  height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.searched-user-follow-button {
  padding: 0.75rem;

  display: "inline-block";
  vertical-align: "middle";

  border-style: solid;
  border-radius: 0.8rem;
  background-color: black;
  color: white;
  border-color: #00e0c3;
  font-size: large;
  text-align: center;
  margin-left: 1.25rem;
}

.searched-user-follow-button:hover {
  transform: scale(1.1);
}

.searched-user-follow-button:focus {
  outline: none;
}

.searched-profile-recs-label {
  color: black;
  position: relative;
  margin: 1rem;
  padding-bottom: 1rem;
}

.searched-profile-header {
  width: 90%;
  display: inline-block;
}
