.search-result {
   
    

    width: 25rem;
    display: inline-block;
    padding: 2rem;


}
.search-result:hover {
    border-color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 30px;

    transform: scale(1.01);

}


p, b {
    color: white;
    display: block;
}

b {
    padding: 1rem;
    font-size: larger;
}



