.search-result {
   
    

    width: 20%;
    display: inline-block;
    padding: 2rem;

    border-color: rgba(255, 255, 255, 0);
    
    border-bottom-style: solid;
   


}
.search-result:hover {
    border-color: white;
    
    border-bottom-style: solid;
   
 

}


p, b {
    color: white;
    display: block;
}

b {
    padding: 1rem;
    font-size: larger;
}



