html {
    text-align: center;
}
.rec-desc button {
    width: 100%;
    margin: 0.5rem;
    display: inline-block;
    
}
iframe{
    width: 100%;
    margin: auto;

}
.card-header {
    display: block;
    width: 100%;
}

.card-header ul {
    width: 100%;
}

.card-header ul li{
    width: 100%;
    display:block;
}

.more-info {
    width: 100%;

background-color: violet;
}

.rec-desc button{
    display: inline-block
}

.span-recommender {
    text-decoration: underline;
    color: deeppink;
    font-size: large;
}

.discover-rec {
    margin:auto;

    width: 60%;
}

