html {
  text-align: center;
}

.follow-button {
  display: inline-block;
  width: 5rem;
  margin: auto;
  margin-left: 1rem;
  position: relative;
  bottom:0.3rem;
}
.following-button {
  display: inline-block;
  position: relative;
  bottom: 0.3rem;
  width: 5rem;
  margin: auto;
  margin-left: 1rem;

}

.card-header {
  width: 100%;
  margin: auto;
}

.more-info-desc {
  width: 60%;
 float: right;
  
  position: relative;
  top: 0.7rem;
}


.span-recommender:hover {
  transform: scale(1.1);
  text-decoration: underline;
}

.discover-rec {
  
  border-style: solid;
  min-width: 30rem;
  width: 100%;
  border-radius: 10% 10% 10% 10%;
  background-color: #111111;
}
.container-div {
  position: relative;
  left: 5rem;
width: 40%; 
margin: auto;
float: left;
  
}

.discover-rec-iframe {
  width: 99%;
  display: block;
  border-radius: 10% 0 10% 10%;
  border-style: solid;
  border-color: #111111;
}


.next-button {
  float: right;
  margin: 1rem;
  width: 5rem;
}

.likes-number {
  width: 15%;
  float: left;
  position: relative;
  top: 1.7rem;
  left: 1rem;
}
