html {
    text-align: center;
}
.rec-desc button {
    width: 100%;
    margin: 0.5rem;
    display: inline-block;
    
}
.follow-button {
    display: inline-block;
    width: 25%;
    margin: auto;
    margin-left: 1rem;
}
.following-button {
    display: inline-block;
    width: 25%;
    margin: auto;
    margin-left: 1rem;
}

.more-info-desc {
    width: 100%;
}
.card-footer {
    width: 50%;
    margin: auto;
}

.card-footer ul {
    width: 100%;
}

.card-footer ul li{
    width: 100%;
    display:block;
}

.more-info {
   width: 50%;
    padding: 0.2rem;
    display: inline-block;

background-color: #004085;
}

.rec-desc button{
    display: inline-block
}

.span-recommender {
    text-decoration: underline;
    color: deeppink;
    font-size: large;
}

.discover-rec {
    margin:auto;
border-style: solid;
border-color: white;
    width: 50%;
}

.discover-rec-iframe {
    width: 100%;
    border-style: solid;
    border-color: white;
    border-radius: 0%;
    
}

.next-button {
    float: right;
    margin: 1rem;
    width: 10%;
}

