.span-recommender {
  font-size: x-large;
}
.feed-rec-card-header {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.feed-likes-label {
  width: auto;
  display: inline-block;
  vertical-align: middle;
 
}

.feed-rec {
  width: 100%;
  min-width: 370px;
  margin: auto;
  background-color: #111111;
  border-radius: 10% 10% 10% 10%;
  margin-bottom: 2rem;
}

.like-icon {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
 
}
.feed-rec-iframe {
  width: 99%;
  position: relative;
  
  display: block;
  margin: auto;
  border-radius: 10% 0 10% 10%;
  border-style: solid;
  border-color: #111111;
}

.feed-rec-container {
  width: 50%;
  margin: auto;
}

.rec-desc {
  display: inline-block;
  vertical-align: middle;
  
}

.user-info {
  width: 50%;
  height: 100%;
display: inline-block;
vertical-align: middle;
  
  
  
}

.rec-info {
  width: 50%;
  height: 100%;
display: inline-block;
vertical-align: middle;

 
  
  
}

.feed-rec-follow-button {
  padding: 0.75rem;
  display: inline-block;
  vertical-align: middle;
  width: 6rem;
  position: relative;
  border-style: solid;
  border-radius: 0.8rem;
  background-color: black;
  color: white;
  border-color: rgba(255, 251, 39, 1);
}

.feed-rec-follow-button:hover {
  transform: scale(1.1);
}

.feed-rec-follow-button:focus {
  outline: none;
}


.feed-rec-container {
 width: 50%;
 margin: auto;
 margin-top: 3rem;
 
 display: inline-block;
  

}