.span-recommender {
    font-size: x-large;
}
.card-header{
width: 100%;
margin: auto;



}

.card-header button {
    margin: 1rem;
    padding: 0.3rem;
}


.likes-label {
    display: inline-block;
}

.feed-rec {
    width: 40%;
    margin: auto;
    border-style: solid;
    border-color: white;
    background-color: #004085;
    border-radius: 10% 10% 10% 10%;

}
.feed-rec-iframe {
    
        width: 100%;
          display: block;
          margin-left: auto;
        margin-right: auto;
        border-radius: 10% 0 10% 10%;
      
   
  }

  .next-button {
      
      margin: 1rem;
      padding: 0.5rem;
  }
  .next-button-container {
      width: 40%;
      display: inline-block;
  }

  .unfollow-button {
      display: inline-block;
  }
  .follow-button {
      display: inline-block;
  }

  .rec-desc {
      display: inline-block;
  }

  .user-info {
      width: 60%;
      margin: auto;
      display: inline-block;
  }

  .rec-info {
      width: 40%;
      margin: auto;
      display: inline-block;
  }
