.create-explore {
    width: 100%;
    margin-top: 6rem;
}

.discover{

    width: 100%;
   
    display: inline-block;
    
   

}

.search-results {
    margin-top: 1rem;
    width: 90%;
    margin: auto;
    text-align: center;
}