.navbar {
  width: 100vw;
  height: 5rem;
  text-align: center;
  background-color: #000000;
  border-bottom-style: solid;
  border-bottom-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.navbar ul {
  width: 85%;
  display: inline-block;
}

.navbar li {
  width: 33%;
  height: 100%;
  display: inline-block;
}

.nav-icon:hover {
  transform: scale(1.2);
}

.navbar button {
  
  width: 10%;
  
}