.navbar {
  width: 100vw;
  height: 5.5rem;
  text-align: center;
  background-color: #000000;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
.navbar ul {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.navbar li {
  width: 35%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.create-rec-icon:hover {
  transform: scale(1.2);
}

.navbar button {
  width: 10%;
}

.navbar-logo {
  display: inline-block;
  vertical-align: middle;

  width: 10%;
}

.create-rec-icon {
  display: inline-block;
  width: 15%;
}

.navbar-popup-content {
  background: rgb(255, 255, 255);
  width: 100%;
  min-height: 80vh;
  height: auto;
  margin: auto;
  position: fixed;
  border-radius: 2rem;
  border-style: solid;
  border-color: black;
}
.navbar-popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  position: fixed;
  left: 0;

  height: auto;
  margin: auto;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.navbar-popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
