

h1, h2, h3 {
    color: white;

}


.friend-recs {
margin-top: 7rem;
min-height: 75vh;
}

.discover{

    width: 100%;
   
    display: inline-block;
    
   

}

.toggle-type button{
    width: 50%;
    max-width: 10rem;
    min-height: 4rem;
    height: 100%;
    max-height: 4rem;
display: inline-block;
padding-top: 1rem;
padding-bottom: 1rem;
border-style: none;
font-size: larger;


}

.toggle-type button:focus{
outline: none;
}

.toggle-type {
    
    width: 20rem;
    height: 4rem;
    margin: auto;
    padding-left: 0rem;
    border-style: solid;
    border-color: black;
    border-radius: 1.5rem;
}


.main-recs-friends {
    width: 100%;
    vertical-align: middle;
}

.recs-true-format {
width: 30%;
 
 
 vertical-align: top;
 
 display: inline-block;
  
}

