.user-rec {
  width: 20%;
  display: inline-block;
  margin: 1rem;
  background-color: #111111;
  border-radius: 10% 10% 10% 10%;
}

.profile-card-header li {
  display: inline-block;
  width: 50%;
}

.profile-card-header {
  display: inline-block;
  width: 100%;
}

.profile-card-header button {
  width: 50%;
}

.user-rec iframe {
  width: 99%;
  display: block;
  margin: auto;
  border-radius: 10% 0 10% 10%;
  border-style: solid;
  border-color: #111111;
}
