.user-rec {
   
  width: 25%; 
  display: inline-block;
  margin: 2rem;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  background-color:#004085;
border-radius: 10% 0 10% 0;

}

.profile-card-header li{
  
  display: inline-block;
  width: 50%;

  
  

}

.profile-card-header {
  
  display: inline-block;
  width: 100%;
 
 
}

.profile-card-header button {
 

 width: 50%;
 

}



.user-rec iframe {
  width: 100%;
    display: block;
    margin-left: auto;
  margin-right: auto;
  border-radius: 10% 0 10% 0;
}

