.mutual-friends-list {
  padding: 0;
  width: 90%;
  margin: auto;

  max-height: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-style: solid;
  border-color: black;
  text-align: left;

  display: block;
}

.direct-rec-container {
  width: 100%;
}
