.dir-rec {
  width: 95%;
  display: inline-block;
  margin: 1rem;

  background-color: #000000;
  border-radius: 10% 10% 10% 10%;
  overflow-x: hidden;
  min-height: 415px;
}

.profile-dir-card-header {
  display: inline-block;
  width: 100%;
}

.profile-dir-card-header button {
  width: 50%;
}

.dir-rec iframe {
  width: 100%;
  position: relative;

  display: block;
  margin: auto;
  border-radius: 10% 0 10% 10%;
  border-style: hidden;
  border-color: #000000;
  background-image: none;
}

.toggle-user-dir-card:hover {
  transform: scale(1.1);
}
