.notification {
    width: 99%;
    margin: auto;
    height: 3rem;
    padding: 1rem;
}

.activity-feed {
    font-size: large;
}

.activity-feed-header {
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 0.5rem 0rem 0.5rem 0rem;

}

