.notification {
    width: 100%;
    overflow-x: hidden;
    margin: auto;
    padding: 1rem 0rem 1rem 0rem;
    text-align:left;
    border-bottom-style: solid;
}

.notif-message{
    width: 70%;
    font-size:small;
    display: inline-block;
    vertical-align: middle;
}
.notif-date {
    font-size: medium;
    width: auto;
    float: right;
    position: relative;
right: 1rem;
top: 1rem;
width: 20%;}
.notification-list {
    height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;

}

.activity-feed {
    height: 35.5rem;
    font-size: large;
    border-radius: 1.5rem;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.356);
}

.activity-feed-header {
    
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 0.5rem 0rem 0.5rem 0rem;

}

.profile-link:hover {
    
    text-decoration: underline;
}

