html {
    text-align: center;
}

.make-rec{
    display: inline-block;
    width: 100%;
    border-top-style: dotted;
    border-color: #004085;
}
.make-rec form{
    display: inline-block;
}
.make-rec h2 {
    color: black
    ;
    display: inline-block;
}