html {
  text-align: center;
}

#queued-div {
  width: auto;
  background-size: auto;
}
.make-rec {
  min-height: 50rem;
  float: right;
  width: 100%;

  margin-bottom: 2rem;
  margin-top: 2rem;
}

.search-header {
  background: rgb(245, 39, 84);
  background: linear-gradient(
    0deg,
    rgba(245, 39, 84, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 4%,
    rgba(0, 0, 0, 0.5) 11%,
    rgba(0, 0, 0, 0.75) 21%,
    rgb(0, 0, 0) 31%,
    rgba(0, 0, 0, 0.5) 58%,
    rgba(0, 0, 0, 0.25) 83%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 0.5rem;
  width: 100%;
  margin-left: -0.5rem;
}
.search-rec-form {
  width: 60%;
  margin: 2rem 0 1rem 0;
  display: inline-block;
}
.make-rec h2 {
  color: black;
  display: inline-block;
}

.search-results {
  margin: 1rem;
  text-align: left;

  overflow-y: auto;
  max-height: 60rem;
  border-top-right-radius: 3rem;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  border-top-left-radius: 3rem;
}

.search-rec-button {
  margin: 1rem;
  padding: 0.5rem;
}

.search-rec-input {
  border-radius: 1rem;
  border-style: solid;
  border-color: white;
}

.search-rec-input:focus {
  transform: scale(1.1);
  margin-right: 2rem;
  outline: none;
}


